.sidebar-wrap{

margin-left:50px;
width:20%;
border:1px solid green;
}

.form.w3layouts-newsletter {
    display: flex;
    margin-bottom: 2.5em;
}

h3.sear-head {
    color: #1e272e;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.editContent{
text-align:justify;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
