{%extends 'blog/base_blog.html'%} 

{% block title %} 
Tag Create - {{block.super}}
{% endblock %} 


{%block content %}
<form action="{% url 'tag_create_url' %}" method="post">
  {% csrf_token %} 
  
  {% comment %} <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
    <span class="input-group-text">@</span>
    <input type="text" class="form-control" placeholder="Server" aria-label="Server">
  </div> {% endcomment %}

  {%for field in form %}
  <div class="input-group mb-3">
    {%if field.errors%}
        <div class = 'alert alert-danger'>
            {{field.errors}}
        </div>
        
        {%endif%}
    
    {{field.label}}
    {{field}}
    
  </div>
  {%endfor%}
  <button type="submit" class="btn btn-primary">Create tag</button>
</form>

{% endblock %}
