{% extends  'movies/base.html' %}
{% load static %}
{% block title %} {{movie.title}}{% endblock title %}
{% block movie  %}
    <div class="header-wrap">
                    <div class="header-movie">
                        <div class="imgphone">
                            <img src="{{ movie.poster.url }}" class="img-fluid-detail" alt="">
                        </div>
                        <div class="wall"></div>
                        <div class="movie-info">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                {{ movie.title }}
                            </h3>
                            <h5 class="editContent"></h5>
                            <ul>
                                <li style="list-style: none">
                                    <span><b>Год:</b> {{ movie.year }}</span></li>
                                <li style="list-style: none">
                                    <span><b>Страна:</b> {{ movie.country }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Слоган:</b> {{ movie.tagline }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Режиссер:</b>
                                        {% for director in movie.directors.all %}
                                            {{ director.name }}
                                        {% endfor %}
                                    </span>
                                </li>
                                <li style="list-style: none"><span><b>Актеры:</b>
                                    {% for actor in movie.actors.all %}
                                        {{ actor.name }}
                                    {% endfor %}
                                </span>
                                </li>
                                <li style="list-style: none"><span><b>Жанр:</b>
                                    {% for genre in movie.genres.all %}
                                        {{ genre.name }}
                                    {% endfor %}
                                    </span>
                                </li>
                                <li style="list-style: none"><span><b>Премьера в мире:</b> {{ movie.world_premiere }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Бюджет:</b> ${{ movie.budget }}</span></li>
                                <li style="list-style: none">
                                    <span><b>Сборы в США:</b> ${{ movie.fees_in_usa }}</span></li>
                                <li style="list-style: none"><span><b>Сборы в мире:</b> ${{ movie.fees_in_world }}</span>
                                </li>
                                <li style="list-style: none">
                                    <a href="#"><b>Рейтинг:</b>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="fa fa-star" aria-hidden="true"
                                              style="outline: none; cursor: inherit;"></span>
                                        <span class="editContent"
                                              style="outline: none; cursor: inherit;">5.0</span>
                                    </a>
                                </li>
                                <div class="share-desc">
                                    <div class="share">
                                        <h4 class="editContent"
                                            style="outline: none; cursor: inherit;">
                                            Share:</h4>
                                        <ul class="w3layouts_social_list list-unstyled">
                                            <li>
                                                <a href="#" class="w3pvt_facebook editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_twitter editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="w3pvt_dribble editContent"
                                                   style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                          </ul>
                        </div>
                    </div>
                    <hr>
                   <div class="wrapAboutMovie">
                        <h3 class="shop-sing editContent">
                            О фильме {{ movie.title }}
                        </h3>
                       <div class="block_movieShorts">
                            {% for image in movie.movieshots_set.all %}
                                <img src="{{ image.image.url }}" class="img-movie-shorts" alt="{{ image.image.description }}">
                            {% endfor %}
                       </div>
                        <p class="editContent">
                            {{ movie.description }}
                        </p>
                       <iframe class="url-videolock" src="{{movie.video_url}}"></iframe>
                    </div>
            <div class="media-body">
       <button class="toggleButton" id="toggleButton">Написать рецензию </button>
                                    <div class="contact-single" id=review>
                                        <h3 class="editContent">
                                            <span class="sub-tittle editContent"
                                                  style="outline: none; cursor: inherit;">{{ movie.reviews_set.count }}</span>Рецензии зрителей</h3>
                                        <form action="{% url 'add_review' movie.id %}" method="post" class="mt-4">
                                            {% csrf_token %}
                                            <input type ="hidden" name="parent" id="contactparent" value="">
                                                 <div class="d-sm-flex">
                                                        <div class="col-sm-6 form-group p-0 editContent">
                                                            <label for="contactusername" class="editContent" >
                                                                Имя *
                                                            </label>
                                                            <input type="text"
                                                                   class="form-control border"
                                                                   id="contactusername"
                                                                   required=""
                                                                   name="name">
                                                        </div>
                                                        <div class="col-sm-6 form-group ml-sm-3 editContent">
                                                        <label
                                                                for="contactemail"
                                                                class="editContent">
                                                            Email  *
                                                        </label>
                                                        <input type="email"
                                                               class="form-control border"
                                                               id="contactemail"
                                                               required=""
                                                               name="email">
                                                    </div>
                                                </div>

                                            <div class="form-group editContent">
                                                <label for="contactcomment" class="editContent">
                                                    Ваш комментарий *</label>
                                                <textarea class="form-control border"
                                                          rows="5"
                                                          name="text"
                                                          id="contactcomment"
                                                          required=""></textarea>
                                            </div>
                                            <button type="submit"
                                                    class="mt-3 btn btn-success btn-block py-3">
                                                Отправить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                        <div class="reviews-body">
                             {% for review in movie.get_review %}
                            <div class="reviews-items">
                                <div class="reviews-header">
                                          <img src="{% static 'user.png' %}" class="review-logoUser" alt="image">
                                          <h5 class="">
                                            {{review.name}}
                                            </h5>
                                </div>
                                <div class="reviews-content">
                                        <p class="review-text">
                                        {{review.text}}
                                    </p>

                                    <a href="#formReview" onclick="addReview('{{review.name}} ', '{{review.id}}')" class="review-text">Ответить</a>
                                </div>
                                  {% for rev in review.reviews_set.all %}
                                <div class="reviews-items-comment">

                                <div class="reviews-header comment">
                                          <img src="{% static 'user.png' %}" class="review-logoUser" alt="image">
                                          <h5 class="">
                                            {{ rev.name }}
                                            </h5>
                                </div>
                                <div class="reviews-content">
                                        <p class="review-text">
                                        {{ rev.text }}
                                    </p>

                                    <a href="#formReview" onclick="addReview('{{review.name}} ', '{{review.id}}')" class="review-text" id="answer">Ответить</a>
                                </div>
                            </div>
                                {%endfor%}

                            </div>
                             {%endfor%}
                            </div>
                        </div>
                    </div>
    <script>
   document.addEventListener('DOMContentLoaded', function() {
            let toggleSwitch = false;
            let toggleButton = document.getElementById("toggleButton");


            toggleButton.addEventListener("click", function() {
                toggleSwitch = !toggleSwitch;
                console.log(toggleSwitch);
                let wrapRev = document.getElementById("review");
                if (toggleSwitch) {
                    wrapRev.style.display  = "block";
                }
                else{
                wrapRev.style.display  = "none";
                }
            });
        });

        function addReview(name,id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name},`
        }
    </script>
   {% endblock movie  %}